.Category {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  .cover {
    background-color: rgb(240, 240, 240);
    width: 100%;
    text-align: center;
    .category-cover-image {
      display: block;
      max-width: 100%;
      max-height: 45vh;
      margin: 0 auto;
      height: auto;
      width: auto;
    }
  }

  .pages-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-gap: 1vw;
    .page-thumbnail {
      a, img {
        display: block;
      }
      img {
        width: 100%;
      }
      p {
        margin: 0;
        text-align: center;
        color: white;
        background-color: black;
      }
    }
  }
}