.Category {
  padding: 3em;
  .category-cover-image {
    width: auto;
    max-height: 45vh;
    margin: 0 auto;
  }

  .pages-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-gap: 1vw;
    .page-thumbnail {
      a, img {
        display: block;
      }
      img {
        width: 100%;
      }
      p {
        margin: 0;
        text-align: center;
        color: white;
        background-color: black;
      }
    }
  }
}