@import "../../vars";

.Sidebar {
  .Diagram {
    margin: 1.25em;
    svg {
      margin-top: 1.75vh;
      width: 100%;
      height: auto;
    }
  }
  .categories-list {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
    }
    .category-link {
      margin: .25em;
      a {
        padding: .25em;
        &.active {
          background-color: $highlight-background;
          color: white;
          pointer-events: none;
        }
      }
      button {
        background: none;
        border: none;
      }
      .pages-list {
        list-style: none;
        .page-link {
          padding: .25em;
        }
      }
    }
  }
}