.Sidebar {
  .Diagram {
    margin: 1em;
    svg {
      margin-top: 10vh;
      width: 100%;
      height: auto;
    }
  }
  .categories-list {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
    }
    .category-link {
      padding: .25em;
      button {
        background: none;
        border: none;
      }
      .pages-list {
        list-style: none;
        .page-link {
          padding: .25em;
        }
      }
    }
  }
}