.Page {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  .page-cover-image {
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    width: auto;
  }
  .primary-content-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    >* {
      flex-basis: 50%;
      margin: 0;
      margin-top: 2em;
    }
    ul.items-list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: 1em;
      li {
        display: contents;
        a {
          display: block;
          color: white;
          background-color: rgb(187,196,169);
          padding: .75em;
        }
      }
    }
  }
}