.App {
  .App-header {
    position: fixed;
    top: 0;
    left: 0;

    h1{
      margin: 0;
      a {
        display: inline-block;
      }
    }
    .App-logo {
      height: 15vh;
    }
  }

  .page-layout {
    display: flex;

    aside {
      flex-basis: 27vw;
      max-height: 100vh;
      transition-property: width, flex-basis, opacity;
      transition-duration: 100ms;
      transition-timing-function: ease-out;
      &.hidden {
        flex-basis: 0;
        flex-grow: 0;
        overflow: hidden;
        opacity: 0;
      }
      &.visible {
        flex-shrink: 0;
        opacity: 1;
        overflow-y: auto;
      }
    }
  }
}